.slide__box {
    width: 100%;
    background-color: #fff;
    height: 50vh;

}
.slide__box-lists{
    margin: 0 auto;
    width: 80%;
    padding: 1rem 0; 
}
.slide__left, .slide__right{
    margin: 0.8rem;
}
.slide__left img{
    width: 60%;
}
.slide__right img{
    width: 100%;

}

.slide__left .slick-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.slide__left .slick-dots li button:before {
    font-size: 0.5rem;
    color: white;
    opacity: 0.75;
}
.slide__left .slick-dots li.slick-active button:before {
    color: #333;
    opacity: 1;
}

.slide__left .slick-prev,
.slide__left .slick-next {
    z-index: 10;
    width: 1.5rem;
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.5);
}
.slide__left .slick-prev {
    left: 0.125rem;
}
.slide__left .slick-next {
    right: 0.125rem;
}
